{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="aboutContainer">
        <div class="aboutPart">
            <div class="aboutText">
                <h1>Register</h1>
                <p>To become a part of our community, you need to create an account. Choose your username, password, optionally upload a photo, and enter your date of birth. If everything is okay, you should see the main page with the global board.</p>
            </div>
            <img class="aboutImg" src="static/photos/webSite/screen1.jpg">
        </div>
        <div class="aboutPart">
            <img class="aboutImg" src="static/photos/webSite/screen2.jpg">
            <div class="aboutText">
                <h1>Integrate with your closest comunity </h1>
                <p>Join our neighborhood community. On our site, you can do more than just comment and like posts – you also have the opportunity to contribute money to support someone's idea and indicate your willingness to help or attend an event.</p>
            </div>
        </div>

        <div class="aboutPart">
            <div class="aboutText">
                <h1>Create posts/Manage money</h1>
                <p>We allow you to create various types of posts: 'help,' 'donate,' and 'normal.' Each type serves a different purpose or situation. On the 'Manage Money' page, you can deposit money from your card or withdraw donations from users to your bank account. </p>
            </div>
            <img class="aboutImg" src="static/photos/webSite/screen3.jpg">
        </div>

        <div class="aboutPart" style="margin-bottom: 0;">
            <img class="aboutImg" src="static/photos/webSite/screen4.jpg">
            <div class="aboutText">
                <h1>Edit your profile and posts</h1>
                <p>You can change your username to a new one (if it's not already in use), update your profile picture, and enhance password security. If you've made any mistakes while creating a post, you can modify the title, description, or even delete it entirely.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}